.LayoutPickerDialog {
  position: absolute;
  top: 12%;
  left: 28%;
  z-index: 300;
  width: 320px;
  transition: all 300ms linear;
}

.SelectedLayoutPickerItem {
  background-color: #555;
}

.LayoutPickerItemMeta {
  display: none;
}

.footer {
  display: block;
  margin: 0;
}
